.layout {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: red;
  &>.aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 135px;
    background: orange;
  }
  &>.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 135px;
    height: 60px;
    background: blue;
  }
  &>.main {
    position: absolute;
    top: 60px;
    right: 0;
    left: 135px;
    bottom: 0;
    background: #ccc;
  }
}
